@media (max-width: 768px){
    body{
        max-width: 100%;
    }
    main{
        justify-content: flex-end;
        padding: 14% auto 0;
    }
    main h2{
        font-size: 1.8rem;
    }
    main img{
        height: auto;
    }
    /*Styling the about & partner section for mobile responsiveness*/
    .about, .partners, .puffnomics{
        margin: 15px auto;
    }
    /*This heading is affecting all the h3 in the website*/
    h3{
        font-size: 2.5rem;
        margin: 10px auto 25px;
    }
    .about p{
        margin: 10px 12%;
        text-align: left;
    }
    /*Finalizing the partners section*/
    .part{
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        padding: 0 20px;
    }
    /*Styling puffnomics*/
    .puff-claw{
        margin: 5px 5%;
    }
    /*Styling the first 4 claws container*/
    .fclaw{
        justify-content: center;
        height: 30ch;
        gap: 20px;
    }
    
    /*Decaring general rule for each claws*/
    .claw{
        width: 80px;
        height: 130px;
        padding: 20px;
    }
    .puffnomics h4{
        font-size: 12px;
    }
    h4 span{
        font-size: 17px;
    }

    /*Restyling l-claw for responsiveness*/
    .l-claw{
        width: 380px;
        height: 320px;
    }
    .l-claw h4{
        font-size: 14px;
    }
    .l-claw p{
        font-size: 14px;
        margin-top: 30px;
        top: 20px;
    }
    .socials{
        margin-bottom: -10px;
        bottom: -10px;
    }

    /*Rounding up HOW TO BUY SECTION for TAB*/
    .instruction{
        margin: auto;
        gap: 10px;
    }
    section.preFooter .inst{
        width: auto;
        height: 250px;
        margin: 5px;
        padding: 15px 15px 5px;
    }
}
@media (max-width: 480px) {
    /*Syling firs section*/
    main h1{
        font-size: 8.7rem;
    }
    main h2{
        font-size: 1.2rem;
    }
    main img{
        height: 400px;
        width: 400px;
    }
    /*Styling the about & partner section for mobile responsiveness*/
    .about, .partners, .puffnomics{
        margin: 5px auto;
    }
    /*This heading is affecting all the h3 in the website*/
    h3{
        font-size: 2rem;
        margin: 10px auto 20px;
    }
    .about p{
        margin: 10px 10%;
        font-size: 16px;
    }
    /*Finalizing the partners section*/
    .part{
        gap: 12px;
        padding: 0 20px;
    }
    .part img{
        height: 50px;
        width: auto;
    }
    /*Styling puffnomics*/
    .puff-claw{
        margin: 5px 2%;
    }
    /*Styling the first 4 claws container*/
    .fclaw{
        height: 27ch;
        width: auto;
        gap: 15px;
    }
    
    /*Decaring general rule for each claws*/
    .claw{
        height: 115px;
        border-radius: 50% / 50%;
    }
    .puffnomics h4{
        font-size: 12px;
    }
    h4 span{
        font-size: 15px;
    }

    /*Restyling l-claw for responsiveness*/
    .l-claw{
        width: auto;
        height: auto;
        padding: 13%;
    }
    .l-claw h4{
        font-size: 14px;
    }
    .l-claw p{
        font-size: 13px;
        font-weight: 400;
    }
    .socials{
        bottom: -25px;
        height: auto;
    }

    /*Rounding up HOW TO BUY SECTION for TAB*/
    section.preFooter .inst{
        padding: 10px;
        border: none;
        border-radius: 25px;
    }
    .inst h4{
        font-size: auto;
    }
    .inst p{
        font-size: medium;
    }
    /*Testing
    .instruction{
        display: flex;
        flex-direction: column;
    }
    .inst{
        width: auto;
        height: 150px;
    }*/   
}